/* -- Material Design Table style -------------- */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  border: 0;
}

tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

th, td {
  text-align: left;
  padding: 0.8rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 4px solid #000000;
}

thead > tr > th,
thead > tr > td {
  border-bottom-width: 4px;
}

tr:first-child > th, tr:first-child > td {
  border-top: 0;
}

tbody {
  border-top: 1px solid #f8f8f8;
}

tbody > tr:nth-child(odd) {
  background-color: #fcfcfc;
}

tbody > tr:hover {
  background-color: #fafafa;
}

.striped.red         > tbody > tr:nth-child(odd) {background-color: #fde0dc; }
.hover.red           > tbody > tr:hover          {background-color: #f9bdbb; }
.striped.pink        > tbody > tr:nth-child(odd) {background-color: #fce4ec;}
.hover.pink          > tbody > tr:hover          {background-color: #f8bbd0;}
.striped.purple      > tbody > tr:nth-child(odd) {background-color: #f3e5f5;}
.hover.purple        > tbody > tr:hover          {background-color: #e1bee7;}
.striped.deep-purple > tbody > tr:nth-child(odd) {background-color: #ede7f6;}
.hover.deep-purple   > tbody > tr:hover          {background-color: #d1c4e9;}
.striped.indigo      > tbody > tr:nth-child(odd) {background-color: #e8eaf6;}
.hover.indigo        > tbody > tr:hover          {background-color: #c5cae9;}
.striped.blue        > tbody > tr:nth-child(odd) {background-color: #e7e9fd;}
.hover.blue          > tbody > tr:hover          {background-color: #d0d9ff;}
.striped.light-blue  > tbody > tr:nth-child(odd) {background-color: #e1f5fe;}
.hover.light-blue    > tbody > tr:hover          {background-color: #b3e5fc;}
.striped.cyan        > tbody > tr:nth-child(odd) {background-color: #e0f7fa;}
.hover.cyan          > tbody > tr:hover          {background-color: #b2ebf2;}
.striped.teal        > tbody > tr:nth-child(odd) {background-color: #e0f2f1;}
.hover.teal          > tbody > tr:hover          {background-color: #b2dfdb;}
.striped.green       > tbody > tr:nth-child(odd) {background-color: #d0f8ce;}
.hover.green         > tbody > tr:hover          {background-color: #a3e9a4;}
.striped.light-green > tbody > tr:nth-child(odd) {background-color: #f1f8e9;}
.hover.light-green   > tbody > tr:hover          {background-color: #dcedc8;}
.striped.lime        > tbody > tr:nth-child(odd) {background-color: #f9fbe7;}
.hover.lime          > tbody > tr:hover          {background-color: #f0f4c3;}
.striped.yellow      > tbody > tr:nth-child(odd) {background-color: #fffde7;}
.hover.yellow        > tbody > tr:hover          {background-color: #fff9c4;}
.striped.amber       > tbody > tr:nth-child(odd) {background-color: #fff8e1;}
.hover.amber         > tbody > tr:hover          {background-color: #ffecb3;}
.striped.orange      > tbody > tr:nth-child(odd) {background-color: #fff3e0;}
.hover.orange        > tbody > tr:hover          {background-color: #ffe0b2;}
.striped.deep-orange > tbody > tr:nth-child(odd) {background-color: #fbe9e7;}
.hover.deep-orange   > tbody > tr:hover          {background-color: #ffccbc;}

@media screen and (max-width: 768px) {
  table {
    margin-bottom: 0;
    background-color: transparent;
  }
  thead, tfoot {
    display: none;
  }
  tbody {
    display: block;
  }
  tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem;
  }
  tbody > tr > td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
    border-bottom: 1px solid #e0e0e0;
  }
  tbody > tr {
    border: none;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }
  tbody > tr > td:last-child {
    border-bottom: 0;
  }
  tbody > tr > td,
  tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }
  tbody > tr:hover > td,
  tbody > tr:hover {
    background-color: #fff;
  }
  tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
/* Label and inputs*/

label {
 color: #555;
 display: inline-block;
 margin-left: 18px;
 padding-top: 10px;
 font-size: 14px;
}
