<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

<!-- parameters for ORACLE
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">adsaat1234</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@10.1.5.10:1522:GAMAT</property>
        <property name="hibernate.connection.username">adsaat</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
 -->

<!-- parameters for HSQLDB -->

        <property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost:9006/GAMADB</property>
        <property name="hibernate.connection.username">SA</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.nauticana.manhour.model.Subcontractor" />
        <mapping class="com.nauticana.manhour.model.UserAccount" />
        <mapping class="com.nauticana.manhour.model.Worker" />
        <mapping class="com.nauticana.manhour.model.Category" />
        <mapping class="com.nauticana.manhour.model.DomainName" />
        <mapping class="com.nauticana.manhour.model.MainMenu" />
        <mapping class="com.nauticana.manhour.model.ScreenPage" />
        <mapping class="com.nauticana.manhour.model.PageAuthorization" />
        <mapping class="com.nauticana.manhour.model.ProjectTeamPerson" />
        <mapping class="com.nauticana.manhour.model.ProjectWbsQuantity" />
        <mapping class="com.nauticana.manhour.model.ProjectTeam" />
        <mapping class="com.nauticana.manhour.model.ProjectWbs" />
        <mapping class="com.nauticana.manhour.model.ProjectWbsManhour" />
        <mapping class="com.nauticana.manhour.model.UserAuthorization" />
        <mapping class="com.nauticana.manhour.model.UserAuthorityLimit" />
        <mapping class="com.nauticana.manhour.model.Project" />
        <mapping class="com.nauticana.manhour.model.DomainValue" />
        <mapping class="com.nauticana.manhour.model.TableAuthorization" />
        <mapping class="com.nauticana.manhour.model.DomainLookup" />
        <mapping class="com.nauticana.manhour.model.AuthorityGroup" />
        <mapping class="com.nauticana.manhour.model.CaptionTranslation" />
        <mapping class="com.nauticana.manhour.model.Language" />
    </session-factory>
</hibernate-configuration>
